.titulo-principal{
    color: #941212;
   text-align:center ;
   font-size: 60px;
}
h2{
    color: #070000;
}
body{
    background: linear-gradient(rgb(155, 1, 8),rgb(238, 69, 69),rgb(241, 156, 156));
    font-size: 20px;
}
h3{
    color: #941212;
}
h4{
    color: #e98181;
}