@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
.titulo-principal{

    color: #941212;
   text-align:center ;
   font-size: 60px;
}
h2{
    color: #070000;
}
body{
    background: linear-gradient(rgb(240, 163, 167),rgb(247, 195, 195),rgb(255, 245, 245));
    font-size: 20px;
}
h3{
    color: #941212;
}
h4{
    color: #e98181;
}