h1{
    color: #ee1f1f;
}
h2{
    text-align: center;
    font-size: 30px;
}
:root {
    --cor-de-fundo: #1E1E1E;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}
body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
   
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.botao{
    font-size: 18px;
    color: #ee1f1f;
   
   
   display: flex;
   width: 100%;
    background-color: var(--botao-inativo);
    padding: 1em;
}
