.titulo-principal{
    color: #941212;
   text-align:center ;
   font-size: 60px;
}
h2{
    color: #070000;
}
body{
    color: #e98181;
    font-size: 25px;
}
h3{
    color: #941212;
}
h4{
    color: #e98181;
}